
h2,
h3,
.header,
p {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;

h2 {
  font-size: 32px;
  font-weight: bold;
  }
h3 {
  font-size: 23px;
  font-weight: bold;
  background-image: url(https://github.com/TSilke/broadway/blob/master/resources/images/the-flatiron-building.png);
  }
h4 {
  font-size: 18px
  }
p {
  font-size: 14px;
  }
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-image: url(https://github.com/TSilke/broadway/blob/master/resources/images/the-flatiron-building.png);
}
